dash
dash_bootstrap_components
dash_html_components
dash_core_components
numpy
pandas
plotly
scikit-learn
datetime
gunicorn 
Cython
cmdstanpy==0.9.5
pystan==2.14
LunarCalendar==0.0.9
convertdate==2.1.2
holidays==0.10.2
setuptools-git==1.2
Prophet

