bob-builder==0.0.19
boto==2.49.0
xlrd
docopt==0.6.2
dash
dash_bootstrap_components
dash_html_components
dash_core_components
numpy
pandas
plotly
scikit-learn
datetime
gunicorn 
Cython
holidays
pystan==2.19.1.1
fbprophet

